import { defineMessages } from 'react-intl';

export const scope = 'app.containers.{{ properCase name }}';

export default defineMessages({
  header: {
    id: `${scope}.header`,
    defaultMessage: 'This is the {{ properCase name }} container!',
    description: 'This is the {{ properCase name }} container!',
  },
});
